<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testing-1.0.dtd">
<suite name="All test suite">
    <test name="D:/qa/demo">
        <classes>
          <class name="com.epam.SearchProduct.SearchProductTest"/>
          <class name="com.epam.Authorization.AuthorizationTest"/>
          <class name="com.epam.AddToCart.AddToCartTest"/>
        </classes>
    </test>
</suite>